<!-- dashboard.component.html -->
<main class="main">
    <div style="display: flex; height: 100vh; font-family: sans-serif;">
  
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="logo">📚</div>
        <nav>
          <ul>
            <li><i class="icon-home"></i></li>
            <li class="active"><i class="icon-lab"></i></li>
            <li><i class="icon-graph"></i></li>
            <li><i class="icon-file"></i></li>
            <li><i class="icon-user"></i></li>
            <li><i class="icon-cog"></i></li>
          </ul>
        </nav>
      </div>
  
      <div style="flex: 1; display: flex; flex-direction: column;">
  
        <div class="topbar">
          <div class="breadcrumb">
            Início &gt; <strong>Laboratório de Germinares</strong>
          </div>
          <div class="profile">
            <i class="icon-image"></i>
            <i class="icon-bell"></i>
            <div class="avatar">A</div>
          </div>
        </div>
  
        <div class="dashboard">

          <h1>Cadastrar Aluno</h1>

          <div class="steps-container">

            <div class="steps-div">
                <i class="steps">1</i>
                <p><strong>Informações pessoais</strong></p>
            </div>

            <div class="steps-line"></div>

            <div class="steps-div">
                <i class="steps-ativo">2</i>
                <p><strong>Notas</strong></p>
            </div>

          </div>

          <div class="card-container">
            <input class="card" type="text" placeholder="Linguagens" />
            <input class="card" type="text" placeholder="Exatas" />
            <input class="card" type="text" placeholder="Ciências" />
          </div>
  
          <div class="button-container">
            <button class="button2" routerLink="/gerenciamento-notas"> Descartar</button>
            <button class="button" routerLink="/gerenciamento-notas"><img src="assets/Share.png"> Cadastrar Aluno </button>
          </div>

        </div>
  
        
      </div>
    </div>
  </main>
  