html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    background: #f9fafb;
     }
  
  .sidebar {
    width: 80px;
    background-color: #f9fafb;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
  }
  
  .sidebar ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;
  }
  
  .sidebar li {
    margin: 1.5rem 0;
    cursor: pointer;
    font-size: 20px;
  }
  
  .sidebar .active {
    background-color: #d1f3e3;
    border-radius: 10px;
    padding: 5px;
  }
  
  .topbar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 2rem;
    background: white;
    box-shadow: 0 1px 4px rgba(0,0,0,0.1);
  }
  
  .profile {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  .avatar {
    background: #f87171;
    color: white;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
  }
  
  .dashboard {
    padding: 2rem;
  }
  
  .card-container {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-top: 1rem;
  }
  
  .card {
    background: white;
    border-radius: 8px;
    padding: 1rem;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border-style: solid;
    cursor: pointer;
    transition: 0.2s;
    width: 300px;
    height: 10px;
    text-align: start;
    font-size: 14px;
    font-weight: 3px;
  }
  
  
  .card:hover {
    background-color: rgb(235, 235, 235);
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
    transition: 0.2s ease-in;
  }

  .button-container {
    display: flex;
    gap: 4rem;
    margin-top: 1rem;
  }
  
  .button, .button2 {
    font-family: sans-serif;
    font-weight: bold;
    border: none;
    padding: 0.5rem 1rem;
    padding-left: 10px;
    border-radius: 15px;
    cursor: pointer;
    width: 140px;
    transition: 0.2s ease-in;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }
  
  .button {
    background: #238662;
    color: white;
  }
  
  .button2 {
    background-color: white;
    color: #238662;
    width: 130px;
  }

  .button:hover {
    background-color: #134634;
    box-shadow: 0 0 5px rgba(0,0,0,0.1);
  }
  
  