<!-- dashboard.component.html -->
<main class="main">
    <div style="display: flex; height: 100vh; font-family: sans-serif;">
  
      <!-- Sidebar -->
      <div class="sidebar">
        <div class="logo">📚</div>
        <nav>
          <ul>
            <li><i class="icon-home"></i></li>
            <li class="active"><i class="icon-lab"></i></li>
            <li><i class="icon-graph"></i></li>
            <li><i class="icon-file"></i></li>
            <li><i class="icon-user"></i></li>
            <li><i class="icon-cog"></i></li>
          </ul>
        </nav>
      </div>
  
      <!-- Main Content -->
      <div style="flex: 1; display: flex; flex-direction: column;">
  
        <!-- Topbar -->
        <div class="topbar">
          <div class="breadcrumb">
            Início &gt; <strong>Laboratório de Germinares</strong>
          </div>
          <div class="profile">
            <i class="icon-image"></i>
            <i class="icon-bell"></i>
            <div class="avatar">A</div>
          </div>
        </div>
  
        <div class="dashboard">
          <h1>Laboratório de Germinares</h1>
          <p>Realize o login! Caso seja seu primeiro acesso, faça o cadastro.</p>
          <div class="card-container">
            <input class="card" type="text" placeholder="Usuário" />
            <input class="card" type="password" placeholder="Senha" />
          </div>
  
          <div class="button-container">
            <button class="button"><img src="assets/Share.png"> Cadastrar </button>
            <button class="button2"><img src="assets/import.png">  Fazer login</button>
          </div>
        </div>
  
        
      </div>
    </div>
  </main>
  